<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3>We hope that you, your families, staff, and crews are well and hanging in there.</p>

<p>This year, with COVID 19, and everything else has been challenging for everyone.</p>

<p>It has been a tough journey for us here at DLX; there’s no other way to put it.</p>

<p>Navigating the changing obstacles that continue to evolve has been a grind for sure.</p>

<p>Working to serve those who support us the way we had been able to pre-pandemic is what we are working hard to improve and get back to for everyone connected to this place.</p>

<p>DLX continues to follow S.F’s strict COVID 19 safety guidelines. Most of our staff are still working from home.  Product supply and our inventory from our suppliers are starting to improve. We hope you begin to see improvements from our side in our ability to get you our products in a faster way.</p>

<p>Thank you for your patience and understanding last month while we worked to re-stock and update our B2B system to allow for quicker turnaround on any new orders placed. To speed up fulfilling orders to more shops, the B2B has some quantity limits on items you can order with each shop location allowed one order per week.</p>


  <p>For now, with each new order, you can get up to:</p>
  <font color="red">
  <p>2 of each board and a maximum of 20 boards total. 4 of each wheel and a maximum of 25 sets total. 4 of each truck and a maximum of 50 pieces total.</p>
</font>

<p>We will work hard to get your order packed and shipped ASAP, as well as to be ready for your next order.</p>

<p>When placing new orders, please note that the prices have increased for boards and trucks.</p>

<p>We experienced factory cost increases for all hardgoods earlier this year in Spring.</p>

<p>We did our best not to pass those increases on to you. Several weeks ago, we received notice from our suppliers that their prices were going up again to us.  Rising costs for them brought on by the Pandemic, the changes they have had to make to their businesses from it, their suppliers, and raw materials made it necessary for them to raise the costs to us.  We kept the increases on our end to you as low as we could. We hope you understand.</p>

<p>Hit up your Deluxe sales rep for questions or more information.</p>

<p>Things continue to ebb and flow this year.</p>

<p>We’ll keep pushing and working to do better and better for you and skateboarding.</p>

<p>If we can help with anything at your store, you have suggestions for things we can do, help with, please just hit us up.</p>

<p>Thank you again for everything.</p>

<p>DLX</p></h3></p>
	</div>
</div>
{% section 'featured' %}