<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3>
    
<p>We hope you, your family, crews, are doing well.</p>


<p>Given everything these days are bringing to all of us, what you all continue to do to push skateboarding in your communities is amazing. Thank you for letting us be a part of it.</p>

 
<p>It's been almost a month since the last time we had the B2B opened for At Once orders. The overwhelming amount of orders in just a couple of hours completely crashed our system. Since then, we've worked to make adjustments. From top to bottom, we have made many changes so we can serve you better. Thank you for your patience and understanding. These are new times for sure. We still are under strict COVID 19 safety guidelines that add challenges to what we try and do. We're trying to cover everyone.</p>

<p>Similar to last month, so that we can get orders out to the most shops as quickly as possible, we have the following order guidelines:</p>
<ul type="disc">
<li type="disc">One order per shop location per week.</li>

<li type="disc">Each order allowed 2 of each board and a maximum of 20 boards total;.</li>

<li type="disc">4 of each wheel and a maximum of 25 sets total;</li>

<li type="disc">4 of each truck and a maximum of 50 pieces total. </li>
</ul>

<p>This process should help us speed things up and get orders out much quicker.</p>


<p>We're hopeful things will start to open up soon, and we can get back to servicing you the way we truly want to be able to.</p>

<p>Please hit us directly if we can do anything specific for you. As always, thank you for everything.</p>
</ul>
</h3></p>
	</div>
</div>
{% section 'featured' %}