
<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3>Thanks for your continued patience and understanding these last two weeks.</p>

<p>We could have never planned shutting the B2B down to get caught up, and we appreciate you working with us through this time.</p>

<p>Last week, while the B2B was closed, our amazing crew caught up with the backlog of all pre-existing At Once orders, all Summer Apparel Prebooks, and just finished Spring Completes today.</p>

<p>It was a busy week for them, especially since we continue working with a smaller crew, as DLX is still not anywhere near 100% open yet.</p>

<p>Some more good news - while the B2B was closed, we did get more inventory as our factories continue to ramp up and continue to get us more as we go forward.</p>

<p>That being said, until we have stock at sufficient levels, and so that we can help cover as many shops as possible on a weekly basis, we have programmed in order quantity limits for boards, wheels, and trucks. Only 5 per style of any board, 10 per style of any wheel, and 10 per style of any truck can be ordered and filled – but you can order as many styles and sizes as you want. Over limit orders will automatically get adjusted in your ‘Cart’ when checking out.</p>

<p><font color="red"><b>And we can accept only one order per week for each shop location.</b></font></p>

<p>Thanks for your patience – now that we are back open with the influx orders there may be delays to ship but we are working as hard and fast as possible - hit your rep for updates when needed. And we’ll also let you know when order restrictions are lifted – hopefully soon.</p>

<p>These are challenging times for so many.</p>

<p>We continue to listen, look inward, and work on how we can do better during these times. Hopefully, you will see our efforts not only with what we make but also what we use our resources to do to support and aid the Civil Rights Movement.</p>

<p>Let us know if we can do anything for you, help with events, or anything to help with things in your shop and community.</p>

<p>As always, thank you.</p>

<p>Be safe, Be kind to each other, and hopefully, we’ll see you rolling soon.</h3></p>
	</div>
</div>
{% section 'featured' %}