
<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3><font color="red">NOTE – NEW ORDER LIMIT.</font> To help cover as many shops as possible while we rebuild our inventory, we’ve implemented ordering limits of 5 of any board, 10 any wheel, 10 any truck – but you can order as many styles and sizes as you want. Over limit orders will automatically be adjusted in your ‘Cart’ when checking out. And we can accept only one order per week for each shop location. Thanks for your patience – we’ll let you know when restrictions are lifted – hopefully
soon.</h3></p>
	</div>
</div>
{% section 'featured' %}