<div class="grid-item" style="padding: 0px;">
	<div class="grid-item large--one-whole" style="padding: 10px; padding-top:0px;">
		<p><h3>
    
<p>What a year, huh? Thank you for your understanding, and support this year. We hope you and yours are well, and 2020 ends well, and 21 is a good year for all. </p>

<p>To say that we have been overwhelmed this year would be an understatement...</p>

<p>Most of our staff continues to work from offsite. Unfortunately, the place is still closed to visitors, which sucks. We miss the community that existed in here on the daily. The madness and fun that is this place when the doors are open are beautiful. Hopefully, we can return to that soon, and everyone can visit here again.</p>

<p>We’re continuing to work hard to improve to do a better job servicing you (and skateboarding). Better supplies from our factories. A swing shift in our warehouse. A scheduled weekly influx of new products into DLX. And some new hires we are excited about (more info soon).</p>

<p>There will be new, regular hours when the B2B is open and closed. The B2B will be open from Mon 9 am to Fri 9 am PST every week. It will be closed Fri- Sun.</p>

<p>This new B2B schedule will allow us to get all new items into the B2B every week, update stock lists, and get orders out quicker. Currently, we have a substantial quantity of orders already placed and estimate it will take about two weeks to get those out.</p>

<p>We’re trying...</p>

<p>If we can do anything better, you have suggestions, want more info - please just hit your rep ( they do a great job letting us know when we are fucking up).</p>

<p>Thank you again – DLX</p>

<h2><b>Order Limits:</b></h2>
<ul type="disc">
<li type="disc">One order per shop location per week.</li>

<li type="disc">Each order allowed 2 of each board and a maximum of 20 boards total.</li>

<li type="disc">4 of each wheel and a maximum of 25 sets total.</li>

<li type="disc">4 of each truck and a maximum of 50 pieces total. </li>
</ul>


</ul>
</h3></p>
	</div>
</div>
{% section 'featured' %}